body, section, header {
    position: relative;
}
.header {
    background-image: none;
    display: block;

}


.logo {
    width: 30px;
    height: 30px;
    padding-right: 50%
}
footer {
    text-align: center;
    background-color: rgb(66, 66, 66);
    color: white;
}
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
h3 {
    font-size: 2rem;
    text-align: center;
}
p {
    text-align: center;
}